a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 18px;
}