body {
    margin: 0;
    padding: 0;
    background: hsl(0, 3%, 39%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: #4a5568;
    margin-bottom: 30px;
    font-size: 2.5em;
}


.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform  0.2s ease;
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.user-card h3 {
    margin-top: 0;
    color: #333;
}

.card-section {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

.card-section h4 {
    margin-bottom: 10px;
    color: #555;
}

.card-section p {
    margin: 5px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.view-details {
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #48bb78 0%, #38a169 100%);
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.view-details:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(72, 187, 120, 0.3);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
}

.pagination a:hover {
    background-color: #aaa9a9;
    border-radius: 50%;

}

